<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>807419770436-5po5r8d1lrn2bmh7iad4ocs15khkkp06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807419770436-5po5r8d1lrn2bmh7iad4ocs15khkkp06</string>
	<key>API_KEY</key>
	<string>AIzaSyBaWLmIWMvRfeg-WMLyqeB7hdSdPkslqM0</string>
	<key>GCM_SENDER_ID</key>
	<string>807419770436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zehana.apptchat</string>
	<key>PROJECT_ID</key>
	<string>tchatessaisolo</string>
	<key>STORAGE_BUCKET</key>
	<string>tchatessaisolo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:807419770436:ios:9bc753512f95f598</string>
	<key>DATABASE_URL</key>
	<string>https://tchatessaisolo.firebaseio.com</string>
</dict>
</plist>
